<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Examen Python - Médéric CAREIL</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename= 'img/favicon.svg') }}" type="image/svg">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
</head>
<body>
    <div class="content">
        <h1>Informations système</h1>

        <div class="card">
            <div class="keys">
                <p>Système d'exploitation</p>
                <p>Version</p>
                <p>Nom de l'appareil</p>
                <p>Processeur</p>
                <p>Mémoire RAM installée</p>
                <p>Carte graphique</p>
            </div>
            <div class="values">
                <p>{{ infos.get_os() }}</p>
                <p>{{ infos.get_release() }}</p>
                <p>{{ infos.get_name() }}</p>
                <p>{{ infos.get_processor() }}</p>
                <p>{{ infos.get_ram() }} Go</p>
                <p>{{ infos.get_gpu() }}</p>
            </div>
        </div>
    </div>
</body>
</html>